@import url(https://fonts.googleapis.com/css?family=Lobster);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: white;
	top-padding: 22px;
	background: rgba(57,76,56,.7);
	}

h1 {
	color: white;
	text-align: center;
	font-family: 'Lobster';
}

p{
	
	text-align: left;
	}

#slogan {
	font-style: italic;
	text-align: center;
	color: #FFFFFF;
	font-size: 3em;
	}

img {
	width: 300px;
	margin: auto;
	}
#first {
	text-style: bold;
}
li {
	color: white;
}
a {
	text-decoration: none;
	color: lightblue;
}
a:hover{
	background: purple;
	color: white;
}
#splash {
	background:url(../images/market.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding: 10em 0 0;
	height: 80vh;
	/* background-position: center; */
}
