body {
	color: #45FF68;
	top-padding: 22px;
	margin: 65px;
	background: rgba(57,76,56,.7);
	}

h1 {
	color: #7F583C;
	text-align: center;
}

p{
	color: #00BBFF;
	text-align: left;
	}

#slogan {
	font-style: italic;
	text-align: center;
	}

img {
	width: 100%;
	margin: auto;
	}
#first {
	text-style: bold;
}
li {
	color: #00BD75;
}